.header {
	/*background-color: black;*/
	padding: 30px 0 0 0;
	margin: 0 0 30px 0;
	height: 20%;
}

.quiz-box {
	height: 60%;
}

.quiz-bg {
	background-image: url('../images/sample.png');
	background-size: cover;
	background-repeat: no-repeat;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.quiz-box h1 {
	padding: 250px 0 0 0;
	text-align: center;
	color: #fff;
	margin: 0 0 0 0;
}

.quiz-box p {
	padding:10px 0 0 0;
	margin:0 0 50px 0;
	font-size: 15px;
	color:#fff;
	text-align: center;
}

.quiz-box div:nth-child(2) {
	text-align: center;
	padding: 40px 0 0 0;
	border:1px solid #e3e3e3;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.quiz-box div:nth-child(2) p {
	text-align: right;
	margin:0 30px 25px 0;
	color: #a5a9ac;

}

.quiz-box div p a {
	color: #000;
	text-decoration: none;
}

.quiz-box div p a:hover {
	color:#169fff;
}

.quiz-box div:nth-child(2) div a {
	padding: 25px 75px 25px 75px;
	margin: 0 0 40px 0;
}

.footer {
	margin: 40px 0 0 0;
	text-align: center;
	padding: 0 0 0 0;
	color: #a5a5a5;
	height: 20%;
}

.footer ul {
	list-style-type: none;
	margin: 0 0 0 0;
}

.footer ul li {
	display: inline;
}

.footer ul li a {
	text-decoration: none;
	color:#a5a5a5;
}

.footer ul li a:hover {
	color:#169fff;
}

.footer ul li:nth-child(2) {
	padding:0 10px 0 10px;
	margin: 0 5px 0 0;
	border-right:2px solid #a5a9ac;
}


/*Questionaire*/



.question-box {
	height: 60%
}

.question-box {
	border:2px solid #e3e3e3;
	border-radius: 10px;
}

.question-box p:first-child {
	color: #3b556b;
	font-weight: bold;
	padding: 30px 0 0 40px;
}

.question-box h1 {
	padding: 15px 0 0 40px;
	margin: 0 20px 40px 0;
}


.question-box ul {
	list-style-type: none;
	padding: 0 0 0 0;

}

.question-box  div ul a {
	text-decoration: none;
}

.question-box ul li {
	display: block;
	margin: 0 0 0 0;
	background-color: #f9fafa;
	padding: 40px 0 40px 0;
	border: 1px solid #ebf0f2;
	font-weight: bold;
	font-size: 20px;
}

.question-box ul li:hover {
	background-color: #e6eef1; 
}

.question-box span {
	padding: 15px 20px 15px 20px;
	border: 3px solid #254c6b;
	border-radius:10px;
	font-size: 30px;
	margin: 0 20px 0 20px;

}

.question-box ul li a {
	text-decoration: none;
	padding: 20px 0 20px 0;
	color: #254c6b;
}

.question-box div:nth-child(2) p {
	text-align: right;
	margin:0 30px 40px 0;
	color: #a5a9ac;
	font-weight: normal;
	padding: 40px 0 0 0;
}

.question-box div:nth-child(2) p a {
	color: #000;
	text-decoration: none;
}

.question-box div:nth-child(2) p a:hover {
	color:#169fff;
}


/*Email*/


.email-box {
	height: 60%;
}

.email-box div:first-child {
	border: 1px solid #e3e3e3;
	padding: 10px 100px 50px 100px;
	border-radius: 7px;
}

.email-box h1 {
	text-align: center;
	padding: 0 0 30px 0;
	color: #515151;
}

.email-box form {
	border : 1px solid #e3e3e3;
	padding: 50px 50px 50px 50px;
	border-radius: 7px;
	margin: 0 0 50px 0;

}

.email-box input {
	height: 50px;
}

.email-box a {
	width: 100%;
}


.email-box div:first-child div {
	text-align: right;
}


.email-box p:first-child {
	padding: 0 0 0 0;
}

.email-box div:first-child p  {
	display:inline;
	text-align: right;
	margin:0 0 0 0;
	color: #a5a9ac;
}


.email-box div:first-child p a {
	color: #000;
	text-decoration: none;
	text-align: right;
}

.email-box div:first-child p a:hover {
	color:#169fff;
	text-decoration: none;
}



/*Result*/

.result-box {
	border:1px solid #e3e3e3;
	border-radius: 10px;
	padding: 0 0 0 0;
	height: 60%;
}

.result-box div:first-child {
	margin: 10px 0 15px 0;
	padding: 0 15px 0 15px; 
}

.result-box h4 {
	color: #000;
	font-size: 20px;
	padding:20px 0 0 0;
}


.result-box p {
	color:#6b6c6c;
	padding: 15px 0 15px 0;
}
	
.result-box div:nth-child(2) {
	text-align: center;
	background-color: #f2f5f7;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	margin: 0 0 25px 0;
	padding:0 0 0 0;
}


.result-box div:nth-child(2) a {
	color: #30b478;
	font-size: 25px;
	vertical-align: middle;
	text-decoration: none;
	padding: 20px 200px 20px 199px;
}

.result-box div:nth-child(2) span {
	color: #888795; 
	font-size: 25px;
	vertical-align: middle;
	text-decoration: none;
	margin: 0 0 0 10px;
}

.result-box img {
	width: 100%;
}

.result-def {
	text-align: center;
	background-color: #f2f5f7;
	padding:0 0 30px 0;
	border-radius: 2px;
	margin: 0 0 0 0;

}

.result-def a {
	width: 30%;
	margin:  0 0 20px 0;
}

.result-box div:nth-child(3) button {
	padding: 10px 15px 10px 15px;
	margin: 0 5px 0 0;
}

.result-box div:nth-child(3) i {
	font-size: 20px;
	padding: 0 10px 0 0;
	border-right: 1px solid #fff;	
	vertical-align: middle;
}

.result-box div:nth-child(3) span {
	font-size: 15px;
	padding: 0 0 0 10px;
	vertical-align: middle;
}

.result-box div:nth-child(3) h2 {
	color: #636363;
	padding: 25px 0 0 0;
	margin: 0 0 0.5em ;
}

.result-box div:nth-child(3) p {
	margin: 0 0 50px 0;
	padding: 30px 0 0 0;
	text-decoration: justify;
}







