.body {
	height: 100%;
}

.main {
	margin-bottom: 244px;
}

.header {
	/*background-color: black;*/
	padding: 30px 0 0 0;
	margin: 0 0 30px 0;
}

.result-des {
	text-align: center;
	background-color: #f2f5f7;
	padding:0 0 0 0;
	border-radius: 2px;
	margin: 0 0 7px 0;

}

.result-des h4 {
	color: #000;
	font-size: 20px;
	padding:20px 0 0 0;
}

.result-des p {
	color:#6b6c6c;
	padding: 15px 0 15px 0;
}

.result-des a {
	width: 35%;
	height: 50px;
	margin:0 0 40px 0;
}

.result-cont {
	text-align: center;
	background-color: #f2f5f7;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	margin: 0 0 30px 0;
	padding:0 0 0 0;
}

.show i {
	color: #30b576;
	font-size: 35px;
	vertical-align: middle;
	padding: 30px 185px 30px 185px;
}

.show span {
	font-size: 20px;
	margin: 0 0 0 0;
	color: #888795;
	vertical-align: middle;
	margin: 0 0 0 5px;

}

.result-border {
	border:1px solid #e3e3e3;
	border-radius: 3px;
	padding: 0 0 0 0;
}

.result-border-all {
	padding: 30px 30px 5px 30px;
}

.footer-content {
	margin: 40px 0 0 0;
	text-align: center;
	padding: 0 0 0 0;
}

.footer-border {
	border:1px solid #e3e3e3;
	margin: 60px 0 0 0;
	padding: 0 0 32px 0;
	color: #a5a5a5;
}
.footer-content ul {
	list-style-type: none;
	margin: 0 0 0 0;
}

.footer-content ul li {
	display: inline;
}

.footer-content ul li a {
	text-decoration: none;
	color:#a5a5a5;
}

.footer-content ul li a:hover {
	color:#169fff;
}

.list-border {
	padding:0 10px 0 10px;
	margin: 0 10px 0 0;
	border-right:2px solid #a5a9ac;
}